{% extends 'layout.html' %}
{% block body_content %}
  <h2>Signup Page</h2>
  <form action="" method="POST">
    <h3>{{error}}</h3>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Signup</button>
  </form>

{% endblock %}
