{% extends 'layout.html' %}
{% block body_content%}

  <table class="table table-striped">
    <thead class="table-dark">
      <th>Name</th>
      <th>Password</th>
      <th>Proccess</th>
    </thead>
    <tbody>
      {% for item in users %}
        <tr>
          <th>{{item[1]}}</th>
          <th>{{item[2]}}</th>
          <th style="width: 250px;">
            <a href="detail/{{item[0]}}" class="btn btn-primary" style="width: 250px;">Detail</a>
          </th>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}